.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-bar {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.custom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #1890ff;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 6px;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}

.button-text {
  text-decoration: none !important;
}

.custom-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(100%);
  transition: transform 0.3s ease;
  z-index: -1;
}

.custom-button:hover::before {
  transform: translateY(0);
}

.custom-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.1), transparent);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.custom-button:hover::after {
  opacity: 1;
}

.custom-button:active {
  background-color: #096dd9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
}

.athorised-welcome {
  font-size: 28px;
  color: #0000ff;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  animation: slide-in 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.guest-welcome {
  font-size: 24px;
  color: #0000ff;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  animation: slide-in 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.1s;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-50px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translateY(10px) scale(1.1);
  }
  80% {
    transform: translateY(-6px) scale(0.95);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.square-image {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}

.square-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* font-size: 8100px; */
  scale: 3;
}

.skatijumi {
  opacity: 50%;
}

.kartot_poga {
  color: #1890ff;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-container h1 {
  margin: 0;
  /* margin-right: 10px; */
}



.main-container {
  flex: 1;
  margin-left: 16px;
  margin-right: 16px;
}

.upload-images-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  margin-bottom: 16px;
  margin-top: 16px;
}

.user-images-container {
  margin-bottom: 16px;
}

.galery-container {
  margin-bottom: 16px;
}

.galery-container h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.upload-images-container,
.user-images-container,
.galery-container {
  background-color: #f5f5f5;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.galery-container .header-container button {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 4px;
  color: #1890ff;
}
.no-permission-popup {
  margin-top: 16px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  position: relative;
  /* display: flex; */
  /* flex-direction: column; */
  /* text-align: center; */
  align-items: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.no-permission-popup:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.no-permission-popup span {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  position: relative;

  transition: color 0.3s ease-in-out;
}

.no-permission-popup:hover span {
  color: #f00;
}

.no-permission-popup .content {
  font-size: 14px;
  color: #555; /* Adjust the text color as needed */
  text-align: center;
  position: relative;
  margin-top: -15px;
  z-index: 2;
  transition: opacity 0.3s ease-in-out;
}
.no-permission-popup.loaded span {
  opacity: 0;
}
.no-permission-popup:not(.loaded) .content {
  opacity: 0;
}

.no-permission-popup.loaded .content {
  opacity: 1;
}

.my-container {
  margin-top: 16px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.my-container:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.my-text-area {
  margin-bottom: 16px;
  border: none;
  resize: none;
  background-color: #f8f8f8;
  transition: background-color 0.3s ease-in-out;
}

.my-text-area:hover {
  background-color: #ebebeb;
}

.my-button-container {
  display: flex;
  justify-content: center;
}

.my-button {
  background-color: #1890ff;
  color: #fff;
  border-radius: 4px;
  padding: 8px 16px;
  border: none;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  cursor: pointer;
}

.my-button:hover {
  background-color: #0c7dd4;
  transform: translateY(-2px);
}

.my-button:active {
  background-color: #0a6cb5;
}
